body {
    background-color: #FAF9EE;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #A2AF9B;
}

h1 {
    text-align: center;
}

h3, h4, p {
    margin: 0.2rem 0;
    line-height: 1.3; /*altura da linha*/
}

img {
    margin: 1rem;
}

main{
    margin: 0 20%;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #A2AF9B;
}

li a {
    text-decoration: none;
    color:#FAF9EE;
}

a:hover{
    color: #DCCFC0;
}

.item {
    list-style: none;
    display: inline;
    margin: 6rem;
    font-size: 1.2rem;
}

.lista{
    line-height: 1.5rem;
    margin: 1.5rem 0;
}

.color {
    text-decoration: none;
    color: #FAF9EE;
    padding: 1rem;
}

.caixa_contato {
    padding: 0.5% 13%;
    background-color: #A2AF9B;
}

.container_exp_form {
    display: flex;
    align-items: stretch;
}

.caixa_exp {
    flex: 1;
    border-left: 0.2rem solid #A2AF9B;
    color: #A2AF9B;
    padding: 1rem;
    margin: 1rem 0.5rem;
}

.caixa_form {
    flex: 1;
    border: 0.2rem solid #A2AF9B;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0.5rem;
}

.caixa_hab {
    display: flex;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
}

.caixa_hab li {
    margin: 0 2rem;
}

footer {
    background-color: #A2AF9B;
    text-align: center;
    color: #FAF9EE;
    padding: 3rem;

}
